* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #e8d06e;
  --red: #bf4832;
  --font: "Roboto", sans-serif;
}

body {
  background-color: var(--yellow);
  font-family: var(--font);
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 5vh;
  background-color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.heart {
  width: 1.8rem;
  margin-top: -3px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

/*Startpage*/

#startpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 95vh;
  padding: 1.8rem;
}

.logotype img {
  width: 100%;
}

.mouth {
  width: 12rem;
}

.game-description {
  padding: 1.6rem 0rem;
  font-size: 0.65rem;
  line-height: 1.4rem;
}

/* Page 2 - Gamepage*/
header {
  padding-top: 1.3rem;
  padding-left: 1.3rem;
}

.game-page {
  padding: 0rem 1.3rem 1.3rem 1.3rem;
}

.logotype-small {
  width: 33vw;
}

.container-bubble-one img,
.container-bubble-two img,
.container-high-score img {
  width: 100%;
}

.container-score img {
  width: 80%;
}

.container-bubble-one,
.container-bubble-two,
.container-high-score,
.container-score {
  position: relative;
}

.container-bubble-two {
  margin-top: -3.5rem;
}

.container-score {
  margin-top: -4rem;
  /* display: none; */
}

.arrow {
  width: 50%;
  transform: rotate(-70deg);
  margin-top: -1rem;
  margin-left: 1rem;
}

button {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0.6rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: var(--yellow);
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--red);
  width: 8.4rem;
  text-transform: uppercase;
  outline: none;
}

button:hover {
  position: relative;
  box-shadow: -2px 5px black;
  top: -5px;
  right: -2px;
}

button:active {
  position: relative;
  box-shadow: 0px 0px;
  top: 0px;
  right: 0px;
}

.button-container {
  display: flex;
  transform: rotate(-2.53deg);
}

.button-container button:first-child {
  margin: 0.9rem 0.6rem -0.9rem 0.3rem;
}
.button-container button:last-child {
  margin: 0.9rem 3.2rem -0.9rem 0;
}

.tongue-twister {
  position: absolute;
  top: 0rem;
  left: 0rem;
  transform: rotate(-2.53deg);
  padding: 2.3em;
  padding-right: 2.5em;
}

.record-btn {
  float: right;
  margin: 0rem 1.3rem -1.05rem 0rem;
  transform: rotate(2.29deg);
}

.speech-output {
  position: absolute;
  top: 2rem;
  left: 0rem;
  transform: rotate(2.29deg);
  padding: 1.8rem;
  padding-right: 2.5rem;
}

.score {
  position: absolute;
  top: 3.4rem;
  left: 2.8rem;
  padding: 0.76em;
}

.highscore {
  position: absolute;
  top: 8.3rem;
  left: 0rem;
  transform: rotate(-2.1deg);
  padding: 2.1em;
}

@media only screen and (min-width: 490px) and (max-width: 749px){

  .game-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .button-container {
    margin: auto;
  }

  .tongue-twister,
  .speech-output,
  .score,
  .highscore {
    font-size: 1.2rem;
  }

  .container-bubble-one,
  .container-bubble-two,
  .container-high-score {
    /* background-color: aquamarine; */
    width: 80%;
    margin: auto;
  }

  .container-bubble-two {
    margin-top: -3.5rem;
  }

  .container-score {
    width: 65%;
  }
}

@media only screen and (min-width: 750px) and (max-width: 999px) {
  .game-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .button-container {
    margin: auto;
  }

  .tongue-twister,
  .speech-output,
  .highscore {
    font-size: 2rem;
  }

  .container-bubble-one,
  .container-bubble-two,
  .container-high-score {
    /* background-color: aquamarine; */
    width: 80%;
    margin: auto;
  }

  .container-bubble-two {
    margin-top: -3.5rem;
  }

  .container-score {
    width: 65%;
  }

  .score {
    top: 3.3em;
    left: 2.7em;
    font-size: 3vw;

  }
}


@media only screen and (min-width: 1000px) {

}


