* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #e8d06e;
  --red: #bf4832;
  --font: "Roboto", sans-serif;
}

body {
  background-color: var(--yellow);
  font-family: var(--font);
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  /* height: 5vh; */
  background-color: white;
  padding: 1em;
  font-size: 0.8em;
}

.heart {
  width: 1.8em;
  margin-top: -3px;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

/*Startpage*/

#startpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 1.8em;
  max-width: 400px;
  margin: auto;
}

.logotype img {
  width: 100%;
}

.mouth {
  width: 12em;
}

.game-description {
  padding: 1.6em 0em;
  font-size: 0.65em;
  line-height: 2em;
}

/* Page 2 - Gamepage*/
header {
  padding-top: 1.3em;
  padding-left: 1.3em;
}

.gray-text {
  color: gray;
}

.game-page {
  padding: 0em 1.3em 1.3em 1.3em;
}

.logotype-small {
  width: 33vw;
}

.container-bubble-one img,
.container-bubble-two img,
.container-high-score img {
  width: 100%;
}

.container-score img {
  width: 80%;
}

.container-bubble-one,
.container-bubble-two,
.container-high-score,
.container-score {
  position: relative;
}

.container-bubble-two {
  margin-top: -3.4em;
}

.container-score {
  margin-top: -3.8em;
  /* display: none; */
}

.container-high-score {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

button {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0.7em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: var(--yellow);
  font-size: 3.5vw;
  font-weight: 700;
  background-color: var(--red);
  width: 9.8em;
  text-transform: uppercase;
  outline: none;
}

button:hover {
  position: relative;
  box-shadow: -2px 5px black;
  top: -5px;
  right: -2px;
}

button:active {
  position: relative;
  box-shadow: 0px 0px;
  top: 0px;
  right: 0px;
}

.button-container {
  display: flex;
  transform: rotate(-2.53deg);
}

.button-container button:first-child {
  margin: 1.3em 0.74em -1.1em 0.5em;
}
.button-container button:last-child {
  margin: 1.3em 3.6em -1.1em 0;
}

.tongue-twister,
.speech-output,
.score,
.highscore {
  font-size: 4vw;
}

.tongue-twister {
  position: absolute;
  top: 0em;
  left: 0em;
  transform: rotate(-2.53deg);
  padding: 2.3em;
  padding-right: 2.5em;
}

.record-btn {
  float: right;
  margin: 0em 1.9em -1.2em 0;
  transform: rotate(2.29deg);
}

.speech-output {
  position: absolute;
  top: 2em;
  left: 0em;
  transform: rotate(2.29deg);
  padding: 1.8em;
  padding-right: 2.5em;
}

.score {
  position: absolute;
  top: 3.6em;
  left: 2.8em;
  padding: 1em;
}

.arrow {
  width: 50%;
  /* transform: rotate(-70deg); */
  margin-top: -1em;
  margin-left: 1.4em;
}

.highscore {
  position: absolute;
  top: 8.3em;
  left: 0em;
  transform: rotate(-2.1deg);
  padding: 2.1em;
}

@media only screen and (min-width: 750px) and (max-width: 999px) {
  .logotype-small {
    width: 20vw;
  }

  .game-page {
    width: 70%;
    margin: auto;
  }

  .button-container {
    margin: auto;
    width: 85%;
    margin-left: -1em;
  }

  button {
    font-size: 2.2vw;
  }

  .tongue-twister,
  .speech-output,
  .highscore,
  .score {
    font-size: 3.5vw;
  }

  .score {
    top: 2.9em;
    left: 2.6em;
    padding: 0.7em;
    padding-left: 0.5em;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url("Images/background.png");
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .game-page {
    height: 96vh;
  }

  .logotype-small {
    width: 12vw;
  }

  .row-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container-bubble-two,
  .container-btn-bubble,
  .container-high-score,
  .container-score {
    width: 33%;
  }

  .container-btn-bubble {
    margin-top: -4em;
  }

  .container-bubble-two {
    margin-top: 2em;
  }

  .row-two {
    display: flex;
    flex-direction: row;
  }

  .container-high-score {
    order: -1;
    margin-top: -2em;
  }

  .arrow {
    height: 130px;
    width: 150px;
  }

  .tongue-twister,
  .speech-output,
  .highscore,
  .score {
    font-size: 1.5vw;
  }

  button {
    font-size: 1.3vw;
  }

  .score {
    top: 2.9em;
    left: 2.6em;
    padding: 1.1em;
    padding-left: 0.7em;
  }
}
