* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #e8d06e;
  --red: #bf4832;
  --font: "Roboto", sans-serif;
}

body {
  background-color: var(--yellow);
  font-family: var(--font);
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 5vh;
  background-color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.heart {
  width: 1.8rem;
  margin-top: -3px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

/*Startpage*/

#startpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 95vh;
  padding: 1.8rem;
}

.logotype img {
  width: 100%;
}

.mouth {
  width: 12rem;
}

.game-description {
  padding: 1.6rem 0rem;
  font-size: 0.65rem;
  /* text-align: justify; */
  line-height: 1.4rem;
}

/* Page 2 - Gamepage*/
.game-page {
  padding: 1.3rem;
}

.logotype-small {
  width: 35vw;
}

.container-bubble-one img,
.container-bubble-two img,
.container-score img,
.container-high-score img {
  width: 100%;
}

.container-bubble-one,
.container-bubble-two,
.container-high-score,
.container-score {
  position: relative;
}

.container-bubble-two {
  margin-top: -3rem;
}

.container-score {
  margin-top: -3rem;
}

.arrow {
  width: 50%;
}

button {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0.6rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: var(--yellow);
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--red);
  width: 8.4rem;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  transform: rotate(-2.53deg);
}

.button-container button:first-child {
  margin: 1rem 0.6rem -0.9rem 0.3rem;
}
.button-container button:last-child {
  margin: 1rem 3.2rem -0.9rem 0;
}

.tongue-twister {
  position: absolute;
  top: 0rem;
  left: 0rem;
  transform: rotate(-2.53deg);
  padding: 2.3rem;
  padding-right: 2.5rem;
}

.record-btn {
  float: right;
  margin: 0rem 1.3rem -0.9rem 0rem;
  transform: rotate(2.29deg);
}

.speech-output {
  position: absolute;
  top: 2rem;
  left: 0rem;
  transform: rotate(2.29deg);
  padding: 1.8rem;
  padding-right: 2.5rem;
}

.score {
  position: absolute;
  top: 2.3rem;
  left: 2rem;
  padding: 0.5rem;
  width: 100%;
}

.highscore {
  position: absolute;
  top: 8.3rem;
  left: 0rem;
  transform: rotate(-2.1deg);
  padding: 2.1rem;
}
